@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

/* --------- adjustment --------- */

html {
  height: 100%;
  width: 100%;
}

body { 
  height: 100%;
  width: 100%;
  font-size: 14px;
  line-height: 1.42;
  // font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

.footer {
  height: 115px;
  margin-top: -115px;
  position: relative;
}

.empty {
  height: 115px;
}

ul {
	padding: 0;
	margin: 0;

	li {
		list-style: none;
	}
}

a {
	text-decoration: none;
}

* {
	box-sizing: bolder-box;
}

.container {
 width: 1170px;
 margin: 0 auto;
}

/* ------- header -------- */

.header {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff7400+0,ffbe89+100 */
background: #ff7400; /* Old browsers */
background: -moz-linear-gradient(left,  #ff7400 0%, #ffbe89 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #ff7400 0%,#ffbe89 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #ff7400 0%,#ffbe89 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7400', endColorstr='#ffbe89',GradientType=1 ); /* IE6-9 */
margin-bottom: 20px;
}

.header__logo, .header__menu, .header__search {
	float: left;
}

.header__top {
	&:after, &:before {
		display: table;
		content: "";
	}

	&:after {
		clear: both;
	}
}

.header__logo {
	width: 25%;
}

.header__search {
	width: 40%;
}

.header__menu {
	width: 35%;
}

.logo {
	display: inline-block;
}

.logo__pic {
	display: block;
	max-height: 55px; 
	max-width: 175px;
}

.search {
	position: relative;
}

.search__input {
	padding: 10px 40px 10px 35px;
	background: #FFB87F;
	border: 0 none;
	@include border-radius(50px);
	color: #fff;
	outline: none;
	width: 82%;
	margin-top: 9px;
}

.search__submit {
	background: image_url('search.png') 0 0 no-repeat;
	background-size: contain;
	width: 18px;
	height: 18px;
	display: block;
	border: none;
	position: absolute;
	right: 18px;
	top: 50%;
	margin-top: -9px;
	padding: 0;
}

.menu__item {
	display: inline-block;
}

//---------- menu -----------//

.menu {
	text-align: justify;

	&:after {
		content: "";
		display: inline-block;
		width: 100%;
		height: 0;
	}
}

.menu__link {
	display: block;
	padding: 10px;
}

.menu__link__iconed {
	padding-right: 20px;
	padding-left: 50px;
	position: relative;
	border: 2px solid #A5C651;
	@include border-radius(50px);
}

.shopping_cart {
	width: 18px;
	height: 18px;
	border: none;
}

.menu__link__text {
	color: #fff;
	font-size: 15x;
}

.menu__link__icon {
	position: absolute;
	left: 13px;
	top: 0px;
	bottom: 0px;
	width: 30px;
}

.shopping_cart_pic {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin: auto;
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.header__top {
	padding: 20px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(#fff, .2);
}

//--------- nav ----------//

.nav__list {
	text-align: justify;

	&:after {
		content: "";
		display: inline-block;
		width: 100%;
		height: 0;
	}
}

.nav__item {
	display: inline-block;
}

.nav__link {
	&:hover {
		.nav__title {
			color: #ffc968;
		}

		.nav__icon svg * {
			fill: #ffc968;
		}
	}
}

.nav__icon, .nav__title {
	display: block;
	vertical-align: middle;
	text-align: center;

	svg {
		height: 100%;
	}

	svg * {
		fill: #fff;
	}
}

.nav__icon * {
	max-height: 45px; 
	max-width: 115px;
}

.nav__title {
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
}

//---------- breadcrumbs ----------//

.bradcrumbs__item {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;

	&:first-child {
		&:before {
			display: none;
		}
		.breadcrumbs__link {
			&:before {
				display: none
			}
		
		}
	}


}

.breadcrumbs__link {
	margin-left: 0px;
	font-size: 14px;
	color: #fa3f37;
	vertical-align: middle;

	&:before {
		content: "";
		display: inline-block;
		width: 20px;
		height: 10px;
		background: image_url('right-arrow.png') 0 0 no-repeat;
		vertical-align: middle;
		margin-right: 15px;
	}
}

.title {
	font-size: 24px;
	color: #2e2e2e;
	margin-top: 0;
	font-weight: normal;
}

.container {
	padding-bottom: 10px;

}