<section class="breadcrumbs">
  <div class="container">
    <ul class="breadcrumbs__list">
      <li class="bradcrumbs__item">
        <a href="#" class="breadcrumbs__link">
          Главная
        </a>
      </li>
      <li class="bradcrumbs__item">
        <a href="#" class="breadcrumbs__link">
          Мобильные устройства
        </a>
      </li>
    </ul>
  </div>
</section>
<section class="section-title">
  <div class="container">
    <h1 class="title">
      Мобильные устройства
    </h1>
  </div>
</section>