<section class="content_wrapper">
  <div class="container">
    <aside class="sidebar">
      <ul class="categories">
        <li class="categories__item">
          <a href="#" class="categories__link">
          <span class="categories__icon"></span>
          <span class="categories__text">
            Мобильные телефоный
          </span>
          </a>
          <div class="categories__amount">
            85
          </div>
        </li>
         <li class="categories__item">
          <a href="#" class="categories__link">
          <span class="categories__icon"></span>
          <span class="categories__text">
            Ноутбуки
          </span>
          </a>
          <div class="categories__amount">
            135
          </div>
        </li>
         <li class="categories__item">
          <a href="#" class="categories__link">
          <span class="categories__icon"></span>
          <span class="categories__text">
            Планшеты
          </span>
          </a>
          <div class="categories__amount">
            240
          </div>
        </li>
      </ul>
    </aside>
    <main class="content">
      <ul class="products">
        <li class="products__item">
          <div class="products__slideshow">
            <div class="slideshow">
              <div class="slideshow__display">
                <%= image_tag("Samsung-Mobile-Phone-PNG-Clipart.png", alt: "logo feed", class: "Mobile_pic_main") %>
              </div>
              <ul class="slideshow__thumbs">
                <li class="slideshow__thumbs-item">
                  <a href="#" class="slideshow__thumbs-link">
                    <%= image_tag("phones_small.png", alt: "logo feed", class: "small__pics") %>
                  </a>
                </li>
                <li class="slideshow__thumbs-item">
                  <a href="#" class="slideshow__thumbs-link">
                    <%= image_tag("phones_small.png", alt: "logo feed", class: "small__pics") %>
                  </a>
                </li>
                <li class="slideshow__thumbs-item">
                  <a href="#" class="slideshow__thumbs-link">
                    <%= image_tag("phones_small.png", alt: "logo feed", class: "small__pics") %>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="products__desc">
            <h2 class="products__title">
              Iphone 6s 128gb
            </h2>
            <div class="products__desc-content">
              <ul>
                <li>TextTextTextTextText</li>
                <li>TextTextTextTextTextTextText</li>
                <li>TextTextText</li>
              </ul>
            </div>
          </div>
          <div class="products__price">
            <div class="priducts__price-amount">
              42442 UAH
            </div>
            <a href="#" class="products__buy">
              Купить
            </a>
          </div>
        </li>
      </ul>
    </main>
  </div>
</section>